@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'KoHo', sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #c4c3c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
