@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #c4c3c3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.koho-font{
  font-family: "KoHo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
